HaN/
Tipscope_maize_stomata_dataset/
Train_data/
Yolo_train/
河南自交系穗位叶/
河南预测/
海南裁剪/
海南预测/
labelstudio_tasks_renamed.json
labelstudio_tasks.json
rename_list.csv
河南叶片气孔统计.csv
河南叶片纹理特征.csv
海南叶片气孔统计.csv
海南叶片纹理特征.csv
yolov5/
git_sra
weights/